* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

:root {
    --secondary-color: #f4f4f4;
    --font-color: #333;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
}

.logo img {
    max-height: 50px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 125px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

footer {
    padding: 20px;
    text-align: center;
    width: 100%;
} 